# Intro to Python and Data Analysis with Python

Up until now, we've used functions and statistical tools in Microsoft Excel to process data to better understand trends, outliers, predictions, and groupings in open data. To better handle, work more quickly with, and process faster data in this course, we'll use the [Python](https://www.python.org) programming language in [Jupyter Lab notebooks](https://jupyter.org). There are many applications for the tools we'll discuss and use in class and for assignments, however, you'll only need to be responsible for how Jupyter and Python relate to the specific data analysis tools we cover in this course. There are several online (both free and paid) [online courses](https://www.codecademy.com/learn/paths/analyze-data-with-python), [video tutorials](https://www.udemy.com/topic/pandas/), and [e-books](https://github.com/jakevdp/PythonDataScienceHandbook) that can help support additional applications in automation, data analysis, and predictive modeling if you wish to broaden your understanding and use cases for Python and data analysis!

## Naming Convention for Jupyter Notebooks for Business Analytics

For all Jupyter notebooks or code files in this class, please use the naming convention:

__year-month-day-github_username-short-descriptive-title-for-notebook__

This will help you, and anyone else reading your documents, know when you created the document, know who initially created the document if they want to reach out or ask specific questions, and understand a bit about what's inside the document.

## About Jupyter Notebooks and Cells

There are several ways to write and deploy code, similar to how there are several ways to write and read text documents (Microsoft Word, Pages, Google Docs, Text files, PDF documents, etc.). Jupyter Lab is nice to work with when you're exploring datasets because you can run different iterations of your analysis without needing to run your entire code, you can "de-bug" as you iterate on your analysis, and you can incorporate code, visualizations, formatted plain text, and images and hyperlinks in the same document, which can be useful for your own personal documentation as well as sharing your work with others. 

Jupyter is also [rising in popularity](https://www.nature.com/articles/d41586-018-07196-1) among scientists because of its ease of use.

We write text and code in Jupyter notebooks in different cells. Plain text cells are designated as __[Markdown](https://nbsphinx.readthedocs.io/en/0.4.3/markdown-cells.html)__ cells and use the same language/formatting that we've covered in GitHub README.md documents. __[Code](https://nbsphinx.readthedocs.io/en/0.4.3/code-cells.html)__ cells interpret and run Python code because we designated this as a Python notebook on launch. __[Raw cells](https://nbsphinx.readthedocs.io/en/0.4.3/raw-cells.html)__ allow you to change the formatting of the cells to HTML, reST, or LaTex, which isn't applicable for what we'll cover in this course.

In [1]:
# In "Code" cells, we can write Python code
# although we can use Markdown cells to write text, it may be useful to write non-python notes in the Code cells as well
# We can write notes with either a hashtag in front of the line of code (which means you need a 
# hashtag in front of every line)

"""or, you can
write a string of notes
within three single or double
quotation marks"""

# to "run" any Jupyter cell, you'll need to hold down the "Shift" key while pressing "Return/En"

'or, you can\nwrite a string of notes\nwithin three single or double\nquotation marks'

To change a cell from Markdown to Code, you can either click on the cell and change the type from the dropdown menu at the top right of the menu bar. You can also use hotkeys to do this by pressing the "Escape" key, then "M" to change the cell to a Markdown, or pressing the "Escape" key, then "Y" to change the cell to a Code cell.

To add additional cells in your notebook, you can click the "+" button on the top left of the menu bar. You can also use hotkeys to add cells above (ESC, then "A") or below (ESC, then "B") your active cell.

Jupyter notebooks will save every so often on their own every 120 seconds ([which you can change on your own](https://support.anaconda.com/hc/en-us/articles/360023997353-Change-default-autosave-time-in-notebooks)). You can also save notebook checkpoints, which can be helpful to revert back to the last manually-saved version of your notebook (note though, once you revert back to a checkpoint, you can't undo this action).

## About Python

Python is increasing in popularity and ["becoming the world's most popular coding language"](https://www.economist.com/graphic-detail/2018/07/26/python-is-becoming-the-worlds-most-popular-coding-language) due to it's versatility and simplicity. There may be different computer coding languages that are better suited for more specific statistical analysis (R, STATA) or much larger datasets (SAS), but Python's open source community, flexibility, and ease to learn and implement make it a good tool for us to utilize in our data analysis with larger datasets.

Writing Python computer code is like writing a food recipe. We are essentially telling our computer what kind of ingredients and tools (packages and libraries) we need to make the food (carry out our data analysis or other actions). However, unlike humans following a recipe for cake, computers cannot necessarily intuit what a typo or mistake might actually mean. 

If we read a recipe for cake that says "1 cup salt" or even "1 cup suger," we can probably guess that this is a typo and that this might mean "1 cup sugar." However, our Jupyter notebook wil not be able to "guess" what we meant if we mis-type something, so capitalization, spacing, and characters matter __a lot__ in our computer code.

## About Pandas & Data Analysis

We're mainly going to use Python for data analysis and geospatial analysis in this class. In our "Python recipe" the first thing we'll need to do is import the libraries for data analysis.

### import libraries

Before we can do any data analysis, we need to tell our computer code what we're going to be doing and with what tools. __Pandas__ (which stands for Panel Data--not the animal) is a library that has a set of functions that allow us to interact with and manipulate our data, and __pandas-profiling__ will allow us to get some high-level data about our data without much work.

In [33]:
# these will allow us to work with data similar to an Excel workbook

import pandas as pd 
import numpy as np

### import data

Next, we need to import the data for our analysis. In this example, we'll use the Uber Movement data that we used at the beginning of the semester. Because we've uploaded this to [GitHub as a CSV file](https://github.com/jhu-business-analytics/big-picture-data-analysis), we can import this data in two ways with pandas:

In [10]:
# we can use read_csv (or read_excel) to import data on a local file
# this is called a pandas data frame
df_uber_local = pd.read_csv("march2019-uber-data.csv")

In [7]:
# we can preview the first five rows of this data set with df.head()
df_uber_local.head()

,Date Range,Destination Display Name,Destination Movement ID,Mean Travel Time (Seconds),Origin Display Name,Origin Movement ID,Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds)
0,"3/24/2019 - 3/24/2019, Every day, Daily Average","7500 14th Street Northwest, Northwest Washingt...",1,1930,"Union Station Drive Northeast, Northeast Washi...",285,1496,2489
1,"3/24/2019 - 3/24/2019, Every day, Daily Average","5300 43rd Street Northwest, Northwest Washingt...",2,1938,"Union Station Drive Northeast, Northeast Washi...",285,1640,2289
2,"3/24/2019 - 3/24/2019, Every day, Daily Average","Massachusetts-39th Trail, Northwest Washington...",3,1531,"Union Station Drive Northeast, Northeast Washi...",285,1267,1849
3,"3/24/2019 - 3/24/2019, Every day, Daily Average","1600 21st Street Northwest, Northwest Washingt...",4,1094,"Union Station Drive Northeast, Northeast Washi...",285,828,1444
4,"3/24/2019 - 3/24/2019, Every day, Daily Average","800 Mount Vernon Place Northwest, Northwest Wa...",6,535,"Union Station Drive Northeast, Northeast Washi...",285,346,826

In [8]:
# to import this directly from GitHub, we use the link to the raw CSV file data instead of the local path
df_uber_github = pd.read_csv("https://raw.githubusercontent.com/jhu-business-analytics/big-picture-data-analysis/master/march2019-uber-data.csv")

In [9]:
# if we preview the data, we see that this is exactly the same as our exported file
df_uber_github.head()

,Date Range,Destination Display Name,Destination Movement ID,Mean Travel Time (Seconds),Origin Display Name,Origin Movement ID,Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds)
0,"3/24/2019 - 3/24/2019, Every day, Daily Average","7500 14th Street Northwest, Northwest Washingt...",1,1930,"Union Station Drive Northeast, Northeast Washi...",285,1496,2489
1,"3/24/2019 - 3/24/2019, Every day, Daily Average","5300 43rd Street Northwest, Northwest Washingt...",2,1938,"Union Station Drive Northeast, Northeast Washi...",285,1640,2289
2,"3/24/2019 - 3/24/2019, Every day, Daily Average","Massachusetts-39th Trail, Northwest Washington...",3,1531,"Union Station Drive Northeast, Northeast Washi...",285,1267,1849
3,"3/24/2019 - 3/24/2019, Every day, Daily Average","1600 21st Street Northwest, Northwest Washingt...",4,1094,"Union Station Drive Northeast, Northeast Washi...",285,828,1444
4,"3/24/2019 - 3/24/2019, Every day, Daily Average","800 Mount Vernon Place Northwest, Northwest Wa...",6,535,"Union Station Drive Northeast, Northeast Washi...",285,346,826

__*Note: since these data frames are the same, we can use either in our subsequent analysis. I will use the local version in all examples*__

### Understanding our Data

Before we start cleaning or conducting analysis with our data, we'll want to get an idea of what's in our data and what we might be able to do with it immediately "out of the box"

In [11]:
# df.info() tells us about the data types and number of items in each column in our dataframe
df_uber_local.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5812 entries, 0 to 5811
Data columns (total 8 columns):
Date Range                                   5812 non-null object
Destination Display Name                     5812 non-null object
Destination Movement ID                      5812 non-null int64
Mean Travel Time (Seconds)                   5812 non-null int64
Origin Display Name                          5812 non-null object
Origin Movement ID                           5812 non-null int64
Range - Lower Bound Travel Time (Seconds)    5812 non-null int64
Range - Upper Bound Travel Time (Seconds)    5812 non-null int64
dtypes: int64(5), object(3)
memory usage: 363.4+ KB

In Python, there are 5 different data types that we'll work with:
1. integers (int) - these are numbers that don't have a decimal.
2. floats (float) - these are numbers that have a decimal. We can perform math functions with integers & integers and integers & floats
3. strings (str) - or objects; these are any series of characters, which can be numbers, letters, spaces, special characters, or any combination of those. Strings are delimited with either single quotes ('') or double quotes ("")
4. Boolean (bool) - data types that are either True or False. Boolean data types are used a lot in Python logic expressions
5. datetime (datetime) - for dates and times. Datetime objects allow us to perform calculations with other dates and times

In [12]:
# we can also quickly get an idea of what's happening in the integer/float columns in our dataframe with df.describe()
df_uber_local.describe()

,Destination Movement ID,Mean Travel Time (Seconds),Origin Movement ID,Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds)
count,5812.000000,5812.000000,5812.0,5812.000000,5812.000000
mean,235.115451,1051.950619,285.0,780.313489,1429.865107
std,126.931052,427.494199,0.0,354.522967,544.749370
min,1.000000,93.000000,285.0,34.000000,208.000000
25%,130.000000,751.750000,285.0,533.000000,1051.000000
50%,237.500000,1020.000000,285.0,749.000000,1386.000000
75%,344.000000,1312.250000,285.0,986.000000,1758.000000
max,458.000000,3526.000000,285.0,2195.000000,8477.000000

### Data Cleaning

An important aspect of data analysis is *cleaning* the data. This means we need to make sure that it's usable for future data merging and analysis.

When we cleaned this data in Excel, we wanted to:
1. Create a new column that showed our Mean Travel Time in minutes instead of seconds
2. Separate out the dates from the unnecessary words/characters in the Date Range column so that we could sort things by date
3. Identify the day of the week and day of the week name for each date

When we manipulate data in our data frame columns, we'll identify the data frame and column by:

__df_name["column_name"] = action_on_column_or_subset_of_column__

#### 1. Create a new column for Mean Travel Time in Minutes

In [14]:
# convert Mean Travel Time into Minutes
df_uber_local["Mean Travel Time (Minutes)"] = df_uber_local["Mean Travel Time (Seconds)"]/60

In [15]:
# round the number in Minutes
df_uber_local["Mean Travel Time (Minutes)"] = round(df_uber_local["Mean Travel Time (Minutes)"], #the number you're rounding
                                                  2) # the number of digits after the decimal place

#### 2. Separate out dates from unnecessary text

In [17]:
# separate our values in the Date Range column
df_uber_local["Date Range"] = df_uber_local["Date Range"].str.split("-", # where you want to split the string
                                                                n = 1, # the number of columns you want to keep
                                                                expand = True) # expand the split into new columns?

#### 3. Identify day of week and day of week name for each date

In [18]:
# convert Date Range column to datetime
df_uber_local["Date Range"] = pd.to_datetime(df_uber_local["Date Range"])

In [20]:
# identify the name of the week for each date
df_uber_local["Day of Week"] = df_uber_local["Date Range"].dt.dayofweek

In [21]:
# identify the name of the week for each date
df_uber_local["Day Name"] = df_uber_local["Date Range"].dt.weekday_name

Now, if we run `df.describe()` and `df.info()`, we'll get a better idea of what our data is telling us:

In [22]:
df_uber_local.describe()

,Destination Movement ID,Mean Travel Time (Seconds),Origin Movement ID,Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds),Mean Travel Time (Minutes),Day of Week
count,5812.000000,5812.000000,5812.0,5812.000000,5812.000000,5812.000000,5812.000000
mean,235.115451,1051.950619,285.0,780.313489,1429.865107,17.532552,3.005162
std,126.931052,427.494199,0.0,354.522967,544.749370,7.124913,1.996807
min,1.000000,93.000000,285.0,34.000000,208.000000,1.550000,0.000000
25%,130.000000,751.750000,285.0,533.000000,1051.000000,12.527500,1.000000
50%,237.500000,1020.000000,285.0,749.000000,1386.000000,17.000000,3.000000
75%,344.000000,1312.250000,285.0,986.000000,1758.000000,21.872500,5.000000
max,458.000000,3526.000000,285.0,2195.000000,8477.000000,58.770000,6.000000

In [23]:
df_uber_local.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5812 entries, 0 to 5811
Data columns (total 11 columns):
Date Range                                   5812 non-null datetime64[ns]
Destination Display Name                     5812 non-null object
Destination Movement ID                      5812 non-null int64
Mean Travel Time (Seconds)                   5812 non-null int64
Origin Display Name                          5812 non-null object
Origin Movement ID                           5812 non-null int64
Range - Lower Bound Travel Time (Seconds)    5812 non-null int64
Range - Upper Bound Travel Time (Seconds)    5812 non-null int64
Mean Travel Time (Minutes)                   5812 non-null float64
Day of Week                                  5812 non-null int64
Day Name                                     5812 non-null object
dtypes: datetime64[ns](1), float64(1), int64(6), object(3)
memory usage: 499.6+ KB

### Data Analysis with Uber Data

After we cleaned our data, we wanted to look at some big-picture data aggregation to look at the average travel time per day, the percentage of time traveled on each week day, and the average travel time per date. We'll aggregate this information with a pandas groupby aggregation.

In a pandas groupby, we can perform calculations on a specific group of data within our dataset and then apply these calculations to the current dataframe (as a new column) or create a new dataframe with grouped and aggregated information.
In our example, we'll use .agg to aggregate values in our dataset based on a chosen group (Day Name) by following the following the following convention:

`new_dataframe_name = old_data_frame_name.groupby("column_we_want_to_group_values_by")["column_we_want_to_perform_group_calculation_on"].agg(["function_we_want_to_perform"]).reset_index()`

In [30]:
# aggregate data into a new dataframe that only lists the column(s) we identify in the groupby and the aggregating function
df_average_time_day = df_uber_local.groupby("Day Name")["Mean Travel Time (Minutes)"].agg(["mean"]).reset_index()

In [31]:
# show new data frame
df_average_time_day

    Day Name       mean
0     Friday  18.541256
1     Monday  16.439022
2   Saturday  15.787503
3     Sunday  15.986010
4   Thursday  19.959545
5    Tuesday  17.973280
6  Wednesday  17.993537

We can also still create pivot tables in Python with the following convention:

`new_dataframe = pd.pivot_table(old_dataframe, values = columns_we_want_in_values_fields_of_pivot_table, 
                                       index = columns_we_want_as_row_fields, 
                                       columns = columns_we_want_as_column_fields, 
                                       aggfunc = np.function_we_want_to_perform_on_values).reset_index()
                                       `
                                       
If we want to use more than one column in the values, index, or column fields, then we need to make them into a list. For example, if we wanted to use Day Name and Date Range as our row fields, we would write `index = ["Day Name", "Date Range"]`

In [34]:
# pivot table with data
df_average_time_pivot = pd.pivot_table(df_uber_local, values = "Mean Travel Time (Minutes)", 
                                       index = "Day Name", 
                                       columns = None, 
                                       aggfunc = np.mean).reset_index()

In [35]:
df_average_time_pivot

    Day Name  Mean Travel Time (Minutes)
0     Friday                   18.541256
1     Monday                   16.439022
2   Saturday                   15.787503
3     Sunday                   15.986010
4   Thursday                   19.959545
5    Tuesday                   17.973280
6  Wednesday                   17.993537

In [36]:
# we can also sort our data by the day of the week name
df_average_time_day.sort_values(by="Day Name")

    Day Name       mean
0     Friday  18.541256
1     Monday  16.439022
2   Saturday  15.787503
3     Sunday  15.986010
4   Thursday  19.959545
5    Tuesday  17.973280
6  Wednesday  17.993537